html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

button {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
}

.disabled button {
  cursor: not-allowed;
}

h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
  display: inline-block;
}

a:hover {
  color: rgb(62, 62, 62);
}

h2 {
  text-align: center;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;

  &.--fluid {
    max-width: none;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &.--right {
    justify-content: flex-end;
    
    .modal-content {
      height: 100%;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex__center {
  display: flex;
  justify-content: center;
}

.col-50 {
  width: 50%;
  position: relative;
}

.col-30 {
  width: 30%;
  position: relative;
}

.col-70 {
  width: 70%;
  position: relative;
}

.btn__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;

  @media (min-width: 440px) {
    text-align: left;
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: 990px) {
    text-align: left;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.test-btn {
  padding: 15px 30px;
  border: 2px solid #bd00c6;
  border-radius: 7px;
  color: white;
  background: black;
  text-align: center;

  &:hover {
    border: 2px solid #6f00c6;
  }

  &:active {
    color: rgba(255, 255, 255, 0.9);
  }
}

.login-btn {
  padding: 17px 30px;
  border-radius: 7px;
  color: black;
  background: linear-gradient(to left, #0900c8 0%, #bd00c6 100%) no-repeat;
  text-align: center;

  @media (min-width: 440px) {
    align-self: flex-start;
  }

  &:hover {
    background: linear-gradient(to right, #0900c8 0%, #bd00c6 100%) no-repeat;
  }

  &:active {
    background: #bd00c6;
  }
}

.vacp-copy-button {
  display: none;
}

.tumbler__wrapper {
  background: $bg-icon-btn;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.35s;
  padding: 2px;
  margin-top: 5px;
}

.tumbler {
  border-radius: 50%;
  background-color: $color-icon-btn;
  transition: translateX 0.4s, background-color 0.35s;
  width: 17px;
  height: 17px;
  transform: translateX(40px);
}

.tumbler__wrapper:hover,
.tumbler__wrapper:active {
  background: linear-gradient(to right, $color1-gold-gradient, $color2-gold-gradient);

  .tumbler {
    background-color: white;
  }
}

.tumbler.image {
  transform: translateX(0);
}
