@import "./default.scss";
@import "./grid.scss";
@import "./spacing.scss";

.btn {
  outline: none;
  border: none;
  background: #e0e0e0;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.--circle {
    border-radius: 50%;
    padding: 5px;
  }

  &.--no-padding {
    padding: 0;
  }
}

.mdi {
  svg {
    fill: #333;
    width: 24px;
    height: 24px;
  }
}

.preheader-mdi {
  opacity: 0.2;
  transition-duration: .5s;

  svg {
    fill: #fff;
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 0.4;
  }
}
