$bg-preheader: #2C0946;
$bg-header: #39095E;
$light-grey: #D8D8D8;
$ultralight-grey: #e8e8e8;
$dark-grey: #D3D3D3;
$ultradark-grey: #9F9D9D;
$black: #020202;
$bg-icon-btn: #EDEDED;
$color-icon-btn: #646464;
$color1-gold-gradient: #FF8B00;
$color2-gold-gradient: #F8EB3A;

$header-height: 60px;

$xs: 0px;
$xss: 370px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
